################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelsNTours Git/FileContentIndex/040a0048-3d0b-4926-98a6-4e031674c697.vsidx
/.vs/HotelsNTours Git/FileContentIndex/c0046e20-8ca0-4a2b-9b96-4359d96e19d3.vsidx
/.vs/HotelsNTours Git/FileContentIndex
