################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelsNTours Git/FileContentIndex/040a0048-3d0b-4926-98a6-4e031674c697.vsidx
